* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d8dde3;
  color: #1f1f1f;
  font-family: 'Montserrat', sans-serif;
}

nav{
    position:absolute;
    top:0;
    left:0;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 45px;

    z-index:10;
}

.logo{
    color:white;
    font-family:'Montserrat', sans-serif;
    font-size:1rem;
}

.nav-button{
    color:white;
    text-decoration:none;

    font-family:'Montserrat', sans-serif;
    font-size:1rem;
}

.hero {
  height: calc(100vh - 70px);

  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;

  height: calc(100vh - 70px);

  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.hero::before {
  content: "";

  position: absolute;
  inset: 0;

  background: rgba(0,0,0,0.15);
}

.hero-overlay {
  position: relative;

  z-index: 2;

  text-align: center;
  
  color: #E7F0FF;
}

.hero-overlay h1{
    font-family:'Sedgwick Ave Display', cursive;

    font-size:8rem;

    font-weight:600;

    letter-spacing:10px;

    line-height:1;

    margin-bottom:20px;

    text-transform:uppercase;
}

.hero-overlay p{
    font-family:'Montserrat', sans-serif;

    font-size:1.1rem;

    font-weight:700;

    letter-spacing:3px;

    text-transform:uppercase;

    margin-bottom:350px;
}

.hero-button{

    display:inline-block;

    padding:17px 34px;

    background:#e9edf7;

    color:#111;

    text-decoration:none;

    border-radius:30px;

    font-family:'Montserrat', sans-serif;

    font-weight:700;

    font-size:2.5rem;

    letter-spacing:12px;

    text-transform:uppercase;

    border:3px solid rgba(0,0,0,.35);

    transition:.3s;

    box-shadow: 0 8px 25px rgba(0,0,0,.25);
}

.hero-button:hover{
    transform:scale(1.02);

    box-shadow: 0 12px 30px rgba(0,0,0,.3);

    background:#86744D;

    color:#E7F0FF;
}